<div class="flex flex-col items-center px-8 pt-8">
  <h1 class="text-5xl"> Book a reservation at <%= @location.name %> </h1>

  <%= form_with url: location_reservations_path(@location) do |f| %>
    <%= f.label :reservation_date %>
    <%= f.datetime_field :reservation_date %>

    <%= f.submit "Check Reservation", class: "bg-green-500 text-green-50 p-2 rounded-lg" %>
  <% end %>
</div>